/angular/
/angular-cookies/
/angular-file-upload/
/angular-google-chart/
/angular-sanitize/
/angular-summernote/
/bootstrap/
/es5-shim/
/font-awesome/
/jquery/
/ng-infinite-scroller-origin/
/summernote/
/fontawesome/
/d3/
/ladda/
/angular-ladda/
/spin.js/
/angular-lazy-img/
/highcharts/
/highcharts-ng/
/jquery-migrate/
/angular-owl-carousel/
/blueimp-gallery/
/angular-animate/
/ui-bootstrap/
/angular-bootstrap/
/angular-bootstrap-lightbox/
/angular-loading-bar/
/angular-touch/
/angular-slick/
/slick-carousel/
/angular-slick-carousel/
/angular-clipboard/
