<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%5p] [%t %d{HH:mm:ss}] (%F:%M:%L) %m%n" />
		</layout>
	</appender>

	<appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/usr/local/tomcat/logs/sample.log" />
		<param name="MaxBackupIndex" value="5" /> <!-- Max 5 files -->
		<param name="DatePattern" value=".yyyy-MM-ww" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%5p] [%t %d{yyyy-MM-dd HH:mm:ss}] (%F:%M:%L) %m%n" />
		</layout>
	</appender>

	<appender name="authDailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/usr/local/tomcat/logs/auth.log" />
		<param name="MaxBackupIndex" value="5" /> <!-- Max 5 files -->
		<param name="DatePattern" value=".yyyy-MM-ww" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%5p] [%t %d{yyyy-MM-dd HH:mm:ss}] (%F:%M:%L) %m%n" />
		</layout>
	</appender>

	<appender name="boardDailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/usr/local/tomcat/logs/board.log" />
		<param name="MaxBackupIndex" value="5" /> <!-- Max 5 files -->
		<param name="DatePattern" value=".yyyy-MM-ww" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%5p] [%t %d{yyyy-MM-dd HH:mm:ss}] (%F:%M:%L) %m%n" />
		</layout>
	</appender>
	
	<appender name="galleryDailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/usr/local/tomcat/logs/gallery.log" />
		<param name="MaxBackupIndex" value="5" /> <!-- Max 5 files -->
		<param name="DatePattern" value=".yyyy-MM-ww" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%5p] [%t %d{yyyy-MM-dd HH:mm:ss}] (%F:%M:%L) %m%n" />
		</layout>
	</appender>
	
	<appender name="searchDailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/usr/local/tomcat/logs/search.log" />
		<param name="MaxBackupIndex" value="5" /> <!-- Max 5 files -->
		<param name="DatePattern" value=".yyyy-MM-ww" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%5p] [%t %d{yyyy-MM-dd HH:mm:ss}] (%F:%M:%L) %m%n" />
		</layout>
	</appender>

	<appender name="emailDailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/usr/local/tomcat/logs/email.log" />
		<param name="MaxBackupIndex" value="5" /> <!-- Max 5 files -->
		<param name="DatePattern" value=".yyyy-MM-ww" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				   value="[%5p] [%t %d{yyyy-MM-dd HH:mm:ss}] (%F:%M:%L) %m%n" />
		</layout>
	</appender>

	<appender name="default" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/usr/local/tomcat/logs/default.log" />
		<param name="MaxBackupIndex" value="5" /> <!-- Max 5 files -->
		<param name="MaxFileSize" value="1MB" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%5p] [%t %d{yyyy-MM-dd HH:mm:ss}] (%F:%M:%L) %m%n" />
		</layout>
	</appender>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework.context">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework.web">
		<level value="WARN" />
	</logger>

	<logger name="trace">
		<level value="DEBUG" />
	</logger>

	<logger name="com.jakduk">
		<level value="DEBUG" />
	</logger>

	<logger name="com.jakduk.authentication" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="authDailyRollingFile" />
		<appender-ref ref="console" />
	</logger>

	<logger name="com.jakduk.service.UserService" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="authDailyRollingFile" />
		<appender-ref ref="console" />
	</logger>

	<logger name="com.jakduk.service.BoardFreeService" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="boardDailyRollingFile" />
		<appender-ref ref="console" />
	</logger>
	
	<logger name="com.jakduk.service.GalleryService" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="galleryDailyRollingFile" />
		<appender-ref ref="console" />
	</logger>
	
	<logger name="com.jakduk.service.SearchService" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="searchDailyRollingFile" />
		<appender-ref ref="console" />
	</logger>

	<logger name="com.jakduk.service.EmailService" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="emailDailyRollingFile" />
		<appender-ref ref="console" />
	</logger>

	<!-- Root Logger -->
	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="default" />
		<appender-ref ref="authDailyRollingFile" />
		<appender-ref ref="boardDailyRollingFile" />
		<appender-ref ref="galleryDailyRollingFile" />
		<appender-ref ref="searchDailyRollingFile" />
		<appender-ref ref="emailDailyRollingFile" />
	</root>

</log4j:configuration>