<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<!--  
	<context:property-placeholder location="classpath*:*.properties" />
	-->
	
	<context:property-placeholder properties-ref="deployProperties" />

	<context:component-scan base-package="com.jakduk">
		<context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation" />
	</context:component-scan>

	<import resource="security-context.xml" />
	<import resource="config/oauth/oauth-data.xml"/>	

	<!-- Imports datasource configuration -->
	<import resource="config/db/mongo-data.xml" />
	
	<bean id="deployProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:/config/db/mongo.properties</value>
				<value>classpath:/config/storage/file.properties</value>
				<value>classpath:/config/kakao/kakao.properties</value>
			</list>
    	</property>	
	</bean>

</beans>
