.text-overflow {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.padding-5 {margin:10px 0px;}
.padding-10 {margin:20px 0px;}
.max-width-240 {max-width:240px;}
.max-width-300 {max-width:360px;}

.list-group-item { padding: 5px 5px;}
.panel-heading { padding: 5px 5px;}
.panel-body { padding:5px;}
.panel-footer { padding: 5px 5px;}
.panel-footer .alert { margin-top: 10px; margin-bottom: 0px; padding: 8px;}

/* 상단 네비게이션 */
.header .topbar ul.loginbar > li > a,
.header .topbar ul.loginbar > li > a:hover {
	font-size: 12px;
}

/* 홈에서 최근 글 */
.magazine-mini-news h3, .magazine-mini-news h3 a {
    margin-bottom: 0px;
}
.magazine-mini-news .post-author {color:#777;}

/* 홈의 최근 댓글 */  
.blog-twitter .blog-twitter-inner a {
	color: #555;
	text-decoration: none;
}
.blog-twitter .blog-twitter-inner a:hover {
	color: #72c02c;
	text-decoration: none;
}

.blog-twitter .blog-twitter-inner i.fa {font-size:inherit; line-height:inherit; top:0px; color:#555;}

/* 헤더 */
.header .topbar ul.loginbar > li > a, 
.header .topbar ul.loginbar > li > a:hover {
	text-transform: none;
}
.topbar-v3 .right-topbar li a {
	text-transform: none;
}

/* 게시물의 댓글 */
.blog-item .media h5.media-heading {
	color: #555;
	position: relative;
}

.blog-item .media h5.media-heading span {
	right: 0;
	color: #777;
	font-size: 12px;
	position: absolute;
}

.blog-item .media h5.media-heading span a {
	color: #72c02c;
}

.blog-item .media a {color: #555;}
.blog-item .media a:hover {color: #72c02c;}
.media .board-comment a {color: #999;}

/* 로그인, 회원 가입 */
.reg-page {padding:30px 15px 30px 15px;}
.has-feedback .form-control {padding-right:38px;}
.form-control {padding:6px 10px;}

/* 각 페이지 마다 있는 제목 */
.breadcrumbs a {color:#666;}
.breadcrumbs li .active a {color:#72C02C;}

.cube-portfolio {padding-bottom:10px;}
.tag-box {padding: 10px;}

/* 홈의 상단*/
.image-block {background: url(../img/bg_img.jpeg) repeat;}
.image-block .company-description {padding:10px 10px; margin:15px auto;}
.image-block .company-description h2 {margin-bottom:5px;}
.image-block .company-description h3 {margin-bottom:5px;}
.image-block .company-description h4 {margin-bottom:5px;}
.image-block .company-description ul {text-align:left;}
.image-block h5 {margin-bottom:0px;}
.image-block p {margin:0px 0px 0px;}

.testimonials .testimonial-info {color:inherit;}

.margin-bottom-10-n {margin-bottom:10px;}

/* 사진 올리기에 쓰임 */
.row .media {margin-top:0px;}

/* 게시판 TOP */
td a {color:#555;}

/* 댓글 */
.post-comment .panel {margin-bottom:0px;}

/* 최신 댓글 */
.blog-latest-posts p {margin:0 0px; font-size:inherit;}

/* 찾기 */
.search-block-v2 {
	padding: 20px 0px 30px;
	margin-bottom: 20px;
	}
	
.s-results .inner-results p a {color:#555;}	
.s-results .inner-results p a:hover {color:#72c02c;}
.s-results .blog-photos li img {max-width:100%; width:auto; height:auto;}

/* lightbox */
.lightbox-nav {font-size:inherit; margin-bottom:5px; height:inherit;}

/* slick */
.slick-slider {margin-bottom:inherit;}

/* workaround default height for summernote's editable area */
.note-editor.note-frame .note-editing-area .note-editable {
	min-height: 50px;
}

.testimonial-info > .testimonial-author > .latest-user-name,
.testimonial-info > .testimonial-author > .latest-user-club > span {
	top: 0;
}

.jakduk-number-pad {
	width: 122px;
}
.jakduk-number-pad-row > * {
	width: 38px;
	text-align: center;
	padding: 6px;
	margin: 2px 0;
}