<div class="container-fluid">
	<div class="page-header">
		<h4>Write FootballClub</h4>
	</div>

	<div class="alert alert-danger" ng-bind="ctrl.errorMessage" ng-if="ctrl.errorMessage"></div>

	<form name="footballClubForm" ng-submit="ctrl.submit()" novalidate>
		<div class="row">
			<div class="col-sm-6">
				<label for="origin" class="control-label">ORIGIN</label>
				<div class="form-group">
					<select id="origin" name="origin" class="form-control" ng-model="ctrl.origin" ng-options="origin.name for origin in ctrl.origins track by origin.id"></select>
				</div>
			</div>
			<div class="col-sm-6">
				<label for="active" class="control-label">ACTIVE</label>
				<div class="form-group">
					<select id="active" name="active" class="form-control" ng-model="ctrl.active">
						<option value="none">None</option>
						<option value="active">Active</option>
						<option value="inactive">Inactive</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<label for="shortNameKr" class="control-label">KOR SHORT NAME</label>
				<div class="form-group">
					<input id="shortNameKr" name="shortNameKr" class="form-control" placeholder="KOR shortName" ng-model="ctrl.shortNameKr" required>
				</div>
			</div>
			<div class="col-sm-6">
				<label for="fullNameKr" class="control-label">KOR FULL NAME</label>
				<div class="form-group">
					<input id="fullNameKr" name="fullNameKr" class="form-control" placeholder="KOR fullName" ng-model="ctrl.fullNameKr" required>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<label for="shortNameEn" class="control-label">ENG SHORT NAME</label>
				<div class="form-group">
					<input id="shortNameEn" name="shortNameEn" class="form-control" placeholder="ENG shortName" ng-model="ctrl.shortNameEn" required>
				</div>
			</div>
			<div class="col-sm-6">
				<label for="fullNameEn" class="control-label">ENG FULL NAME</label>
				<div class="form-group">
					<input id="fullNameEn" name="fullNameEn" class="form-control" placeholder="ENG fullName" ng-model="ctrl.fullNameEn" required>
				</div>
			</div>
		</div>

		<input type="submit" class="btn btn-default">
	</form>
</div>