<uib-accordion>
  <uib-accordion-group is-open="ctrl.isOpened.init">
    <uib-accordion-heading>
      Init Data <i class="fa fa-fw fa-caret-down"></i>
    </uib-accordion-heading>
    <div class="list-group">
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.INIT.BOARD_CATEGORY.ID}" href="admin/board/category/init">Init Board Category</a>
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.INIT.SEARCH_INDEX.ID}" href="admin/search/index/init">Init Search Index</a>
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.INIT.SEARCH_TYPE.ID}" href="admin/search/type/init">Init Search Type</a>
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.INIT.SEARCH_DATA.ID}" href="admin/search/data/init">Init Search Data</a>
    </div>
  </uib-accordion-group>

  <uib-accordion-group is-open="ctrl.isOpened.write">
    <uib-accordion-heading>
      Write Data <i class="fa fa-fw fa-caret-down"></i>
    </uib-accordion-heading>
    <div class="list-group">
      <a class="list-group-item" href="admin/encyclopedia/write" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.WRITE.ENCYCLOPEDIA.ID}" >Encyclopedia Write</a>
      <a class="list-group-item" href="admin/fcOrigin/write" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.WRITE.FC_ORIGIN.ID}">Football Club Origin Write</a>
      <a class="list-group-item" href="admin/fc/write" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.WRITE.FC.ID}">Football Club Write</a>
      <a class="list-group-item" href="admin/boardCategory/write" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.WRITE.BOARD_CATEGORY.ID}">Board Category Write</a>
      <a class="list-group-item" href="admin/thumbnail/size/write" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.WRITE.THUMBNAIL_SIZE.ID}" target="_self">Thumbnail Size Write</a>
      <a class="list-group-item" href="admin/homeDescription/write" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.WRITE.HOME_DESCRIPTION.ID}">Home Description Write</a>
      <a class="list-group-item" href="admin/attendance/league/write" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.WRITE.ATTENDANCE_LEAGUE.ID}" target="_self">Attendance League Write</a>
      <a class="list-group-item" href="admin/attendance/club/write" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.WRITE.ATTENDANCE_CLUB.ID}" target="_self">Attendance Club Write</a>
      <a class="list-group-item" href="admin/jakdu/schedule/write" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.WRITE.JAKDU_SCHEDULE.ID}" target="_self">Jakdu Schedule Write</a>
      <a class="list-group-item" href="admin/jakdu/schedule/group/write" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.WRITE.JAKDU_SCHEDULE_GROUP.ID}" target="_self">Jakdu Schedule Group Write</a>
      <a class="list-group-item" href="admin/competition/write" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.WRITE.COMPETITION.ID}" target="_self">Competition Write</a>
    </div>
  </uib-accordion-group>

  <uib-accordion-group is-open="ctrl.isOpened.get">
    <uib-accordion-heading>
      Get Data <i class="fa fa-fw fa-caret-down"></i>
    </uib-accordion-heading>
    <div class="list-group">
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.GET.ENCYCLOPEDIA.ID}" href="admin/encyclopedia">Get Encyclopedia</a>
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.GET.FC_ORIGIN.ID}" href="admin/fcOrigin">Get Football Club Origin</a>
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.GET.FC.ID}" href="admin/fc">Get Football Club</a>
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.GET.BOARD_CATEGORY.ID}" href="admin/boardCategory">Get Board Category</a>
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.GET.HOME_DESCRIPTION.ID}" href="admin/homeDescription">Get Home Description</a>
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.GET.ATTENDANCE_LEAGUE.ID}" href="admin/attendanceLeague">Get Attendance League</a>
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.GET.ATTENDANCE_CLUB.ID}" href="admin/attendanceClub">Get Attendance Club</a>
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.GET.JAKDU_SCHEDULE.ID}" href="admin/jakduSchedule">Get Jakdu Schedule</a>
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.GET.JAKDU_SCHEDULE_GROUP.ID}" href="admin/jakduScheduleGroup">Get Jakdu Schedule Group</a>
      <a class="list-group-item" ng-class="{active: ctrl.currentMenu === MENU_ID_MAP.GET.COMPETITION.ID}" href="admin/competition">Get Competition</a>
    </div>
  </uib-accordion-group>
</uib-accordion>