<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:remove="all">Template for HTML email with inline image</title>
    </head>
    <body>
        <div style="max-width: 580px;">
            <img src="../../public/images/logo_type_A_en.png" data-th-src="|cid:logo|" style="display: block; margin:auto; padding: 20px;" />
            <div style="color:#333333;font-size:14px;font-weight:normal;line-height:20px;margin:20px;">
                <div style="text-align:center;">
                    <p>
                        <strong th:text="#{user.password.reset.instructions(${email})}">Hello!</strong>
                    </p>
                    <a style="background:#4183c4;border-radius:3px;color:#ffffff;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;letter-spacing:normal;margin:0 auto;padding:10px 20px;text-align:center;text-decoration:none;width:auto!important;"
                       th:href="${host}" th:text="${linkLabel}" target="_blank">
                        Change your password
                    </a>
                </div>
            </div>
        </div>
</body>
</html>